* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

/****************** utils  ******************/

.container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
}


/****************** titolo  ******************/

header {
    padding: 10px 20px;
    background-color: white;
}

header img {
    vertical-align: middle;
}

header h1.title {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 1000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/****************** main ******************/

main div.container {
    margin-top: 50px;
    max-width: 60%;
    height: 500px;
}

/****************** pulsanti ******************/

main div span {
    display: inline-block;
}

main div .pulsanti {
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    background-color: #45AFED;
    color: white;   
}

main div .pulsanti.section {
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
}
